/*
**	Author: LaiSi
*/

#wrapper {
}

/* navigation */
#nav {
border-top: 1px solid #fff;
background: url('../img/nav-bg.gif') top left repeat-x #ddd;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0 3px 5px #777;
-moz-box-shadow: 0 3px 5px #777;
-webkit-box-shadow: 0 3px 5px #777;
}
#nav .item {
background: url('../img/nav-sep.gif') top right no-repeat;
}
#nav .item a {
height: 38px;
color: #666;
text-shadow: 0 1px 0 #fff; /* carved effect */
-moz-text-shadow: 0 1px 0 #fff;
-webkit-text-shadow: 0 1px 0 #fff;
font-weight: 700;
line-height: 26px;
padding: 10px 25px
}
#nav .item a:hover {
color: #333;
background: #ddd;
box-shadow: inset 0 3px 5px rgba(0,0,0,.24);
-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.24);
-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.24);
}
#nav .current>a{
color: #333;
background: #ddd;
box-shadow: inset 0 3px 5px rgba(0,0,0,.24);
-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.24);
-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.24);
}
#nav .item a span {
color: #999;
line-height:12px;
font-size:12px;
display: block;
}
#nav .subnav {
white-space: nowrap;
top: 58px;
box-shadow: 0 3px 5px #777;
-moz-box-shadow: 0 3px 5px #777;
-webkit-box-shadow: 0 3px 5px #777;
}
#nav .subitem a{
width: 200px;
background: #ddd;
border-bottom: 1px solid #eee;
}
#nav .subitem a:hover{
background: #666;
color: #eee;
text-shadow: 0 1px 0 #333; /* carved effect */
-moz-text-shadow: 0 1px 0 #333;
-webkit-text-shadow: 0 1px 0 #333;
}
#nav .subitem a:hover > span{
color: #eee;
}

/* slider */
#slider {
box-shadow: 0 2px 4px #777;
-moz-box-shadow: 0 2px 4px #777;
-webkit-box-shadow: 0 2px 4px #777;}
#slider:hover > .slick-arrow {
display:inherit;
background: rgba(255,255,255,.3);
}

/* showcase */
#showcase .eachcase{
box-shadow: 0 1px 2px #777;
-moz-box-shadow: 0 1px 2px #777;
-webkit-box-shadow: 0 1px 2px #777;
}

/* brief info */
#briefinfo {
background: url('../img/nav-bg.gif') top left repeat-x #ddd;
color: #333;
text-shadow: 0 1px 0 #ddd; /* carved effect */
-moz-text-shadow: 0 1px 0 #ddd;
-webkit-text-shadow: 0 1px 0 #ddd;
box-shadow: 0 1px 2px #777;
-moz-box-shadow: 0 1px 2px #777;
-webkit-box-shadow: 0 1px 2px #777;
}
#briefinfo:hover{
box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}