/*
**	Author: LaiSi
*/

/* reset all */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none;margin:0;padding:0}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}.clear{clear:both}.pos-relative{position:relative}.pos-absolute{position:absolute}.vertical-base{vertical-align:baseline}.vertical-top{vertical-align:top}.underline{padding-bottom:5px;border-bottom:1px solid #eee;margin:0 0 20px}nav.vertical ul li{display:block}nav.horizontal ul li{display:inline-block}img{max-width:100%}

/* general */
html, body {
font-family:"Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",arial,sans-serif;
font-size:100%;
height:100%;
background:#eee;
color:#333
}

#wrapper {
margin: 10px auto;
width: 100%
}

#header, #nav, #slider, #showcase, #briefinfo, #title {
margin-bottom: 15px;
}

/* header */
#header {
background:none;
}

#header a, #header li {
display: block;
padding: 20px 10px  /*(4) top, right, bottom, left; (2) top&bottom, left&right; (1) all*/
}

.logo {
width: 200px;
}

/* nav */
#top-nav {
display: none;
margin-bottom: 15px;
}
.clearfix {
height:40px;
width:100%;
font-size:11pt;
position:relative;
z-index:16
}
.clearfix ul {
padding:0;
margin:0 auto;
display:none;
background:#ddd
}
.clearfix li {
display:block
}
.clearfix a {
color:#333;
font-size:15px;
font-weight:700;
text-transform:uppercase;
display:block;
width:100%;
text-indent:10px;
text-align:left;
text-decoration:none;
line-height:40px
}
/* 
.clearfix li a {
border-bottom:1px solid rgba(90,85,73,0.17);
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box
}
.clearfix li:last-child a {
border-right:0
}
 */
.clearfix a:hover,.clearfix a:active {
background:#333;
color:#FFF
}
.clearfix a#pull {
font-size:20px;
display:block;
width:100%;
position:relative;
color:#fff;
background-color:#333
}
.clearfix a#pull:after {
background:url('../img/nav-icon.png') no-repeat;
width:30px;
content:"";
width:30px;
height:30px;
display:inline-block;
position:absolute;
right:15px;
top:10px
}
#nav {
width: 100%;
background-color: #ddd;
position: relative;
z-index: 15
}
#nav .item {
position: relative
}
#nav .item a {
display: inline-block;
background-color: #ddd;
line-height: 25px;
padding: 10px 20px
}
#nav .item a:hover {
color: #fff;
background-color: #333
}
#nav .subnav {
display:none;
position: absolute;
top: 45px
}

/* footer */
#footer {
margin-top: 15px;
text-align: center;
}

/* index */
#slider {
height: 350px;
position: relative;
background-color: #ddd
}

.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.slick-arrow{position: absolute; background: none; border:0; height:100%;top:0;width:40px;font-size:30px;}
.slick-prev{left:0}.slick-next{right:0}

#showcase {
}
.eachcase {
height: 150px;
width: 100%;
background-color: #ddd;
}
#briefinfo {
background-color: #ddd;
line-height: 20px;
padding: 10px
}

/* page title */
#title div {
line-height:40px
}

/* sidebar */
#sidebar {
width: 280px;
margin-right: 20px;
padding: 10px 0;
background-color: #ddd;
overflow: hidden
}
#sidebar .menu {
position: relative
}
#sidebar .menu a {
display: block;
margin: 10px 0;
background-color: #ccc;
line-height: 25px;
padding: 10px 20px
}
#sidebar .menu a:hover {
color:#fff;
background-color: #333;
}
#sidebar .submenu {
}
#sidebar .submenu a {
margin-left:20px;
}
#sidebar .current>a, #nav .current>a {
color: #fff;
background-color: #333;
}

/* content */
#content {
width: 640px;
padding: 10px;
background-color: #ddd;
}

/* misc */
.clear {
clear: both
}
.left {
float: left
}
.right {
float: right
}

/* 自适应 */
@media screen and (max-width: 500px) {
	.logo {
	width: 100%;
	}
	#header a, #header li {
	float:left;
	width: 100%;
	}
	#top-nav {
	display: block;
	}
	#nav {
	display:none;
	}
}

@media screen and (min-width: 500px) {
	.eachcase {
		width: 33.33%;
	}
}

@media screen and (min-width: 960px) {
	#content {
		width: 640px;
	}
	#sidebar {
		width: 280px;
	}
	#wrapper {
		width: 960px;
	}
	.eachcase {
		width: 300px;
		margin: 0 10px
	}
}